body,html {
	margin:0%;
	padding:0%;
	width:100%;
	height:100%;
	font-family: 'Roboto', sans-serif;
	
}

aside {
	float:left;
	width:22%;
	height:100%;
	background-color:#3381ff;
	font-size:18px;
	color:#ffffff;
	
	
}

img {
	
	margin:7%;
	height:20%; 
	width:50%;
	border-style:solid;
	border-width:2px;
	border-color:#dbdbdb;
}

#contact {
	margin:5%;
	text-align:left;
	width:100%;
	font-size:18px;
}


a {
	text-decoration:none;
	color:#ffffff;
}

a:hover {
	text-decoration:underline;
	color:#d6d6d6;
}

i {
	margin:10px;
	font-size:18px;
}

#aboutme {
	margin:5%;
	text-align:left;
	
}

#language {
	margin:5%;
}
hr {
	color:#ffffff; 
	height: 1px; 
	background-color:#ffffff;
}

main {
	float:left;
	width:78%;
	height:100%;
	background-color:#ffffff;

}

h1 {
	margin:2%;
	
}

.informatation {
	margin:2%;
	width:90%;
	font-size:20px;
}

